/* Estilos CSS aquí */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    text-align: center;
    margin-top: 50px;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
    font-weight: bold;
}

.form input[type="text"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form input[type="submit"] {
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.sunny {
    background-color: #ffea00;
}

.cloudy {
    background-color: #ccc;
}

.rainy {
    background-color: #007bff;
    color: #fff;
}

.night {
    background-color: #222;
    color: #fff;
}

.sun-icon, .cloud-icon, .rain-icon, .night-icon {
    font-size: 2em;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
